
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<form method="post">

    <label for="book-id">Book id</label>
    <input id="book-id" type="text" name="bookId"/>
    <label for="book-id">Price id</label>
    <input id="price-id" type="text" name="priceId"/>
    <button type="submit">SET</button>

</form>

